name: E2E on Chrome - Cypress Tests

on: [push]

jobs:
  e2e:
    runs-on: ubuntu-latest
    name: Cypress E2E Testing
    steps:
      - uses: actions/checkout@v3

      - name: Cypress E2E Testing
        uses: cypress-io/github-action@v5
        with:
          browser: chrome
          install: npm install
          runTests: true

      - uses: actions/upload-artifact@v3 
        if: failure()
        with:
          name: Relatorio dos Testes - Evidencias - Screenshots
          path: cypress/screenshots

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Relatorio dos Testes - Videos
          path: cypress-videos

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Relatorio dos Testes HTML 
          path: "**/reports/"
          if-no-files-found: error                   
